@keyframes background {
  from {background-color: #bc4749;}
  to {background-color: #6a994e;}
}

body {
    margin: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 100px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #bc4749;
    color: #01161e;
    border-bottom: 10px solid #a7c957;
    border-radius: 15px;
    animation-name: background;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: 3;
}

.border-blue {
    border: 1px dotted blue;
}